<div id="<%= dom_id sub_genre %>">
  <p>
    <strong>Name:</strong>
    <%= sub_genre.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sub_genre.description %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= sub_genre.genre_id %>
  </p>

</div>
