<h1>Editing sub genre</h1>

<%= render "form", sub_genre: @sub_genre %>

<br>

<div>
  <%= link_to "Show this sub genre", @sub_genre %> |
  <%= link_to "Back to sub genres", sub_genres_path %>
</div>
