<div class="card" style="border-color: #3baeff;">
  <div class="card-header" style="background-color: #3baeff; color: white;">
    Quote
  </div>
  <div class="card-body bg-dark" style="display: flex; flex-direction: column; max-height: 200px;">
    <blockquote class="blockquote mb-0">
      <p class='nice-blue-color'>Un Nish sachant nisher sait nisher sans son nish. Un nish sachant nisher sans son nish, ça se nish aussi, sachez-le!</p>
      
      <footer class="blockquote-footer mt-auto">
        <cite title="Source Title" class="nice-blue-color">Nish</cite>
      </footer>
    </blockquote>
  </div>
</div>